<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <title>Bookings App</title>
        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" media="screen" href="/css/header.css">
            <link rel="stylesheet" type="text/css" media="screen" href="/css/menu.css">
            <link rel="stylesheet" type="text/css" media="screen" href="/css/footer.css">
        {% endblock %}

    </head>
    <body>
        
        {{ include('_header.html.twig') }}
        {{ include('_menu.html.twig') }}
        <div class="content"></div>
        <div class="content">{% block content %}{% endblock %}</div>
        {{ include('_footer.html.twig') }}
        
    </body>
    {% block javascripts %}{% endblock %}
</html>